ReactExpensesAPI/obj
ReactExpensesAPI/obj/Debug
ReactExpensesAPI/bin
ReactExpensesAPI/bin/Debug
ReactExpensesAPI/obj/Debug/netcoreapp3.1
ReactExpensesAPI/obj/Debug/netcoreapp3.1/ReactExpensesAPI.pdb
ReactExpensesAPI/.vs
ReactExpensesAPI/.vs/ReactExpensesAPI/v16/.suo
ReactExpensesAPI/.vs/ReactExpensesAPI/DesignTimeBuild/
